<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 

<div th:replace="fragments/head-fragments :: suggestionsPageHead">...</div>

    <body>
        <div th:replace="fragments/header-fragment :: header">...</div> 
        <div th:replace="fragments/side-bar-fragment :: sideBar">...</div>  
            
           
            <div class="main-text">
            <span>Date</span>
              	<span>ASDASDSDADSADSAADSDSASADSDDSADSADSADSSADDSADSADSA</span>
            </div>

 
        
    </body>
</html>