<html xmlns:th="http://www.thymeleaf.org"> 

<th:block th:fragment="bodyOfHead">
		<meta charset="utf-8">
        <title th:text="#{head.title}">Albion Online Tools</title>
        <meta name="description" th:content="#{head.description}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/css/side-bar.css}"/>
        <link rel="stylesheet" th:href="@{/css/header.css}"/>
        
</th:block>

<head th:fragment="generalHead">
        <th:block th:replace="fragments/head-fragments :: bodyOfHead"></th:block>
</head>

<head th:fragment="indexPageHead">
        <th:block th:replace="fragments/head-fragments :: bodyOfHead"></th:block>
        <link rel="stylesheet" th:href="@{/css/index.css}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
</head>

<head th:fragment="tradingPageHead">
        <th:block th:replace="fragments/head-fragments :: bodyOfHead"></th:block>    
        <link rel="stylesheet" th:href="@{/css/table-style.css}"/>     
</head>
</html>
