$sideBarLinksBackgroundColor: rgb(58, 57, 57);
$textColor: rgb(255, 255, 255);
$sideBarsBaseSize: 60;
$linksHoverColor: rgb(34, 32, 32);
$placeHolderColor: rgb(109, 105, 105);

@function sideBarsDistances($sideBarsMultiplicator) {
    $result: $sideBarsMultiplicator * $sideBarsBaseSize;
    @return $result;
}

@mixin linksTextDecorationAndColor {
    a {
        text-decoration: none;
        color: $textColor;

        &:hover {
            color: $linksHoverColor;
        }
    }
}

@mixin background {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
    background-blend-mode: multiply,multiply;
}

html {
    height: 100vh;
    @include background();
}

body {
    margin-left: 10vh;
    margin-right: 10vh;
    color: $textColor;
    font-size: 16px;
    hr {
        margin-right: 5vh;
        margin-left: 5vh;
        border-width: 1px;
    }
}


header {
    div {
        display: flex;
        justify-content: space-between;
        @include linksTextDecorationAndColor();

       h1 {
           margin-left: 5vh; 
       }

       h2 {
           margin-right: 5vh;
           a {
              margin-left: 20px;
           }
        }
    }
}


.main-text{
    margin-left: 10vh;
    margin-right: 10vh;
    text-align: center;
    font-size: 1.2rem;
}



.side-bar {
    flex: 1;
    a {
        position: absolute;
        left: -200px;
        transition: 0.4s;
        padding: 15px;
        width: 210px;
        text-decoration: none;
        font-size: 20px;
        color: $textColor;
        border-radius: 0 5px 5px 0;
        background-color: $sideBarLinksBackgroundColor;
        flex: 1;

        &:hover {
            left: 0px;
            width: 110px;
        }
    }

    .home {
        top: sideBarsDistances(1.7) * 1px;
    }
    
    .trading {
        top: sideBarsDistances(2.7) * 1px;
    }
    
    .banking {
        top: sideBarsDistances(3.7) * 1px;
    }

    .forum {
        top: sideBarsDistances(4.7) * 1px;
    }
}

.contacts {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 10vh;
    font-size: 1.5em;
    

    a {
        color: $textColor;
        text-decoration: none;
        display: inline-block;
    }

    .discord {
        flex: 1;
    }

    .suggestion {
        flex: 1;
    }

    .email {
        flex: 1;
    }
}

.form {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;

    input {
        width: 15vw;
        height: 25px;
        min-width: 250px;
        background: $sideBarLinksBackgroundColor;
        color: $textColor;
        border: 0px;
        border-radius: 100px;
        outline: none;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 0.5em;
    }

    .submit-button {
        width: 10vw;
        padding: 0px 0px 0px 0px;
        min-width: 150px;
    }

    .verification-button {
        width: 10vw;
        padding: 0px 0px 0px 0px;
        min-width: 250px;
    }

    ::placeholder {
        color: $placeHolderColor;
    }

    .buttons-under-submit {
        margin-top: 5px;
        @include linksTextDecorationAndColor();
        font-size: 0.5em;

        .registrate {
            margin-right: 10px;
        }
        
        .forgot-password {
            margin-left: 10px;
        }

    }
}
