html {
  min-height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.15))), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898 fixed;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898 fixed;
  background-blend-mode: multiply,multiply;
}

body {
  margin-left: 10vh;
  margin-right: 10vh;
  color: white;
  font-size: 16px;
}

.code-validation {
  text-align: center;
  margin-top: 100px;
  font-size: 2.5rem;
}

.code-validation a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  background-color: #3a3939;
  border: 0px;
  border-radius: 40px;
  outline: none;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.form {
  text-align: center;
  margin-top: 20px;
  font-size: 2.5rem;
}

.form input {
  width: 15vw;
  height: 25px;
  min-width: 250px;
  background: #3a3939;
  color: white;
  border: 0px;
  border-radius: 100px;
  outline: none;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0.5em;
}

.form .submit-button {
  width: 10vw;
  padding: 0px 0px 0px 0px;
  min-width: 150px;
}

.form .verification-button {
  width: 10vw;
  padding: 0px 0px 0px 0px;
  min-width: 250px;
}

.form ::-webkit-input-placeholder {
  color: #6d6969;
}

.form :-ms-input-placeholder {
  color: #6d6969;
}

.form ::-ms-input-placeholder {
  color: #6d6969;
}

.form ::placeholder {
  color: #6d6969;
}

.form .buttons-under-submit {
  margin-top: 5px;
  font-size: 0.5em;
}

.form .buttons-under-submit a {
  text-decoration: none;
  color: white;
}

.form .buttons-under-submit a:hover {
  color: #222020;
}

.form .buttons-under-submit .registrate {
  margin-right: 10px;
}

.form .buttons-under-submit .forgot-password {
  margin-left: 10px;
}

.form .validation-error {
  font-size: 1.5rem;
  color: #b80000;
}

.form .validation-error a {
  text-decoration: none;
  color: #b80000;
}

.form .validation-error a:hover {
  color: white;
}

.form .remember-me {
  font-size: 0.5em;
}

.form .checkbox {
  width: auto;
  height: auto;
  min-width: auto;
  background: #3a3939;
  color: white;
  border: 0px;
  border-radius: 100px;
  outline: none;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 1em;
}

.form .trading-input-fields-table {
  background-color: transparent;
  font-size: 1.5rem;
}

.form .trading-input-fields-table input {
  font-size: 1rem;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 5vw;
  min-width: 0px;
}

.form .trading-input-fields-table input[type=number]::-webkit-inner-spin-button,
.form .trading-input-fields-table input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form .trading-input-fields-table .get-button {
  width: 15vw;
}

.form .trading-input-fields-table .cntr {
  margin: auto;
}

.form .trading-input-fields-table .btn-radio {
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.form .trading-input-fields-table .btn-radio:not(:first-child) {
  margin-left: 20px;
}

@media screen and (max-width: 480px) {
  .form .trading-input-fields-table .btn-radio {
    display: block;
    float: none;
  }
  .form .trading-input-fields-table .btn-radio:not(:first-child) {
    margin-left: 0;
    margin-top: 15px;
  }
}

.form .trading-input-fields-table .btn-radio svg {
  fill: none;
  vertical-align: middle;
}

.form .trading-input-fields-table .btn-radio svg circle {
  stroke-width: 2;
  stroke: #C8CCD4;
}

.form .trading-input-fields-table .btn-radio svg path {
  stroke: #3a3939;
}

.form .trading-input-fields-table .btn-radio svg path.inner {
  stroke-width: 6;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
}

.form .trading-input-fields-table .btn-radio svg path.outer {
  stroke-width: 2;
  stroke-dasharray: 57;
  stroke-dashoffset: 57;
}

.form .trading-input-fields-table .btn-radio input {
  display: none;
}

.form .trading-input-fields-table .btn-radio input:checked + svg path {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.form .trading-input-fields-table .btn-radio input:checked + svg path.inner {
  stroke-dashoffset: 38;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.form .trading-input-fields-table .btn-radio input:checked + svg path.outer {
  stroke-dashoffset: 0;
}

.form .trading-input-fields-table .btn-radio span {
  display: inline-block;
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */