.container-table100 {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.from-span {
  margin-right: 0px;
}

.to-span {
  /*margin-left: 50px;*/
}

.wrap-table100 {
  width: 1300px;
}


table {
  width: 100%;
  background-color: #fff;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  width: 130px;
  padding-left: 25px;
}

.column100.column1 {
  width: 265px;
  padding-left: 42px;
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}

.m-b-110 {margin-bottom: 110px;}


.table100.ver2 td {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver2 th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #333333;
}

.table100.ver2 .row100:hover td {
  background-color: rgb(9, 83, 19);
  color: #fff;
}

.table100.ver2 .hov-column-ver2 {
  background-color: rgb(9, 83, 19);
  color: #fff;
}

.table100.ver2 .hov-column-head-ver2 {
  background-color: #484848 !important;
}

.table100.ver2 .row100 td:hover {
  background-color: #003366;
  color: #fff;
}

.tablee {
  border: none;
  border-collapse: collapse;
}