<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org"> 

<div th:replace="fragments/head-fragments :: generalHead">...</div>

    <body>
        <div th:replace="fragments/header-fragment :: header">...</div>   
        <div th:replace="fragments/side-bar-fragment :: sideBar">...</div>  

        <section class="form">
            <form th:action="@{/user/set-new-password}" method="post">  
            	 <div class="validation-error" th:if="${passwordsDoNotMatch}" th:text="#{changePassword.passwordsDoNotMatch}">Problem with password...</div>
            	 <div class="validation-error" th:if="${passwordIsTooShort}" th:text="#{changePassword.passwordIsTooShort}">Password is too short...</div>
            	 <div class="validation-error" th:if="${passwordIsBlank}" th:text="#{changePassword.passwordNotBlank}">Password can't be blank...</div>
            	 <div th:if="${passwordsDoNotMatch}"></div>
                <label th:text="#{changePassword.newPassword}">New password</label><br/>
                <div th:if="${passwordsDoNotMatch}"></div>
                <input type="password" name="password" placeholder="Password" th:placeholder="#{password}" autofocus/><br/>
                <input type="password" name="matchesPassword" placeholder="Password" th:placeholder="#{password}" /><br/>
				
				<input name="token" type="hidden" th:value="${token}" />
             
                <input type="submit" class="submit-button" th:value="#{changePassword.submitButton}"/>
            
                
            </form>

        </section>

    </body>
</html>