<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org"> 

<div th:replace="fragments/head-fragments :: generalHead">...</div>

    <body>
        <div th:replace="fragments/header-fragment :: header">...</div>   
        <div th:replace="fragments/side-bar-fragment :: sideBar">...</div>  

        <section class="form">
            <form action="#">
                <input type="hidden"/>
                <label th:text="#{changePassword.newPassword}">New password</label><br/>
                <input type="password" placeholder="Password" th:placeholder="#{password}" autofocus/><br/>
                <input type="password" placeholder="Password" th:placeholder="#{password}"/><br/>
                <input type="submit" class="submit-button" th:value="#{changePassword.submitButton}"/>
            </form>

        </section>

    </body>
</html>