<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org"> 

<div th:replace="fragments/head-fragments :: generalHead">...</div>

    <body>
        <div th:replace="fragments/header-fragment :: header">...</div>   
        <div th:replace="fragments/side-bar-fragment :: sideBar">...</div>  

		<section class="form">
			
				<label th:text="#{emailSentWithToken.emailIsSentToEmail}+${email}">Email is sent to: </label>
				<!-- <label th:text="${email}">email@example.com</label> -->
            
		</section>

    </body>
</html>