<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org"> 

<div th:replace="fragments/head-fragments :: generalHead">...</div>

    <body>
        <div th:replace="fragments/header-fragment :: header">...</div>   
        <div th:replace="fragments/side-bar-fragment :: sideBar">...</div>  

		<section class="form">
			<form th:action="@{/user/send-email-with-token}" method="post">
				<label th:text="#{email}">Email</label><br/>
				<label class="validation-error" th:if="${nonExistentEmail}" th:text="#{form-to-get-email-for-new-password.nonExistentEmail}">Email not exists</label>
                <div th:if="${nonExistentEmail}"></div>
	            <input type="email" id="email" name="email" placeholder="Email" th:placeholder="#{email}" th:value="${email}" autofocus/>
	            <br/>
	            <input type="submit" class="submit-button" value="Send email" th:value="#{changePassword.sendEmailWithToken}"/>
            </form>
		</section>

    </body>
</html>