<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org"> 
 
<div th:replace="fragments/head-fragments :: generalHead">...</div>

    <body>
        <div th:replace="fragments/header-fragment :: header">...</div>   
        <div th:replace="fragments/side-bar-fragment :: sideBar">...</div>  
 
        <section class="form">
            <form th:action="@{/user/login}" method="post">            
            	<div th:if="${param.error}" class="validation-error" th:text="#{login.invalidUsernameAndPassword}">Invalid username and password.</div>    
                <label th:text="#{username}">Username</label><br/>
                <input type="text" id="username" name="username" placeholder="Username" th:placeholder="#{username}" autofocus/><br/>
                <label th:text="#{password}">Password</label><br/>
                <input type="password" id="password" name="password" placeholder="Password" th:placeholder="#{password}"/><br/>
                <input type="submit" class="submit-button" value="Login" th:value="#{login}"/>
            </form>
            <div class="buttons-under-submit">
                <label class="registrate">
                    <a th:href="@{/user/registration}" th:text="#{login.registration}">Registration</a>
                </label>
                <label class="forgot-password">
                    <a th:href="@{/user/email-for-new-token}" th:text="#{login.forgotPassword}">Forgot password</a>
                </label>
            </div>
        </section>

 

    </body>
</html>