<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org"> 
<div th:replace="fragments/head-fragments :: generalHead">...</div>

    <body>
        <div th:replace="fragments/header-fragment :: header">...</div>   
        <div th:replace="fragments/side-bar-fragment :: sideBar">...</div>  

         <div class="code-validation" th:if="${invalidCode}">
         	<label th:text="#{verification.invalidCode}">Invalid code!</label>
         	<br/><br/>
         	<a class="submit-button" th:href="@{/user/email-for-new-token}" th:text="#{verification.sendNewToken}"></a>
         </div>
         <div class="code-validation" th:if="${validCode}">
			<h1 th:text="#{verification.validCode}">Successfully verified your account!</h1>
			<br/>
			<a class="submit-button" th:href="@{/user/login}" th:text="#{login}">Login</a>
		</div>
    </body>
</html>